.help{
    /* margin-left: 100px; */
}
.helps{
    font-weight: 600;
    font-size: 17px;
}
.register{
    padding-top: 25px;
}
.reg{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}
.text{
    font-weight: 500;
    font-size: 20px;
}
