.box{
    display: flex;
}
.slider{
    width: 800px;
    height: 350px;
    background: #fff;
    margin: 65px auto;
}
.container{
    padding: 45px;
}
.img{
    width: 165px;
    height: 165px;
}
.text{
    font-weight: 570;
    font-size: 23px;
    margin-top: 12px;
    text-align: center;
}
.test{
    margin-top: 13px;
    text-align: center;
}
.name{
    padding: 5%;
    font-size: 58px;
    font-weight: 650;
    color: #4c4d4f;
}
.boxs{
    display: flex;
    justify-content: space-between;
    padding: 70px 5%;
}
.wrapper{
    margin-left: 50px;
}
.title{
    font-weight: 600;
    font-size: 35px;
    color: #4c4d4f;
}
.tema{
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    color: #4c4d4f;
    margin-top: 25px;
}
.images{
    width: 500px;
    height: auto;
}