.item{
    display: flex;
    justify-content: center;
}
.first{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
}
.search{
    border: none;
    outline: none;
    padding: 10px; 
}
.btn{
    padding: 10px 20px;
    color: #fff;
    background: orange;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.container{
    margin: 50px;
    display: inline-block;
    margin-top: 80px;
}

.boxs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card{
    width: 300px;
    height: 390px;
    background: #F0F3FD;
    padding: 20px;
}
.card__img{
    width: 250px;
    height: 250px;
}
.card__text{
    color: #3C4563;
    text-align: center;
}
.deteil{
    text-decoration: none;
}
.deteil p{
    margin-left: 33%;
}