.boxs{
    position: relative;
}
.title{
    position: absolute;
    top: 40%;
    left: 17%;
}
.text{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-transform: capitalize;
    color: #1d9686;
    text-align: center;
}
.text > span{
    color: rgb(238, 207, 30);
}
.about{
    color: beige;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.design__img{
    width: 100%;
    height: 100%;
}
.wrapper{
    font-weight: 750;
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
}
.logo{
    font-weight: 750;
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
}