.title{
    transform: translateY(-350%);
}
.text{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-transform: capitalize;
    color: #1D9686;
    text-align: center;
}
.text > span{
    color: orange;
}
.about{
    color: beige;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.design__img{
    width: 100%;
    height: 100%;
}
.item{
    display: flex;
    justify-content: center;
    transform: translateY(-1300%);
}
.first{
    border: none;
    outline: none;
    padding: 10px; 
    border-radius: 20px 0 0 20px ;
}
.search{
    border: none;
    outline: none;
    padding: 10px; 
}
.btn{
    padding: 10px 20px;
    color: #fff;
    background: orange;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}