.box{
    padding: 5%;
}
.container{
    display: flex;
    grid-gap: 80px;
}
.boxs{
    background: rgb(243, 241, 240);
    margin-top: 25px;
    border-radius: 10px;
    width: 280px;
}
.boxs a{
    text-decoration: none;
}
.title{
    font-weight: 700;
    font-size: 40px;
}
.img{
    width: 280px;
    height: auto;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: transform 0.5s;
}
.text{
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    color: #444444;
    padding: 15px;
    transition: 0.5s;
}
.boxs:hover img{
    transform: scale(1.1);
}
.box p:hover{
    color: blue;
}